## Data Manipulation And Analysis with Pandas

- Data manipulation and analysis are key tasks in any data science or data analysis, making it easier to clean, transform, and extract insights from data.
- Pandas is a powerful library in Python that provides data structures and functions needed to work with structured data seamlessly.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('movies.csv')

In [3]:
df

,Movie_ID,Title,Genre,Rating,Revenue_Million,Year,Runtime_Min,Director,Country
0,1,The Dark Horizon,Thriller,6.9,621,1986,171,Martin Scorsese,UK
1,2,The Golden Legacy,Action,6.1,945,1994,149,Ridley Scott,USA
2,3,The Crimson Dream,Animation,7.5,1889,2017,120,Christopher Nolan,Canada
3,4,The Broken Storm,Thriller,6.5,1428,1986,96,Patty Jenkins,UK
4,5,The Furious Storm,Mystery,9.6,227,2009,153,Greta Gerwig,Australia
5,6,The Dark Shadow,Thriller,8.9,2583,2003,158,Quentin Tarantino,UK
6,7,The Silent Dream,Thriller,9.4,1003,1986,133,Steven Spielberg,Germany
7,8,The Furious Empire,Romance,7.2,2795,1997,174,Greta Gerwig,Italy
8,9,The Lost Shadow,Sci-Fi,6.6,1604,1997,166,Martin Scorsese,France
9,10,The Furious Horizon,Sci-Fi,8.9,1342,2005,119,Greta Gerwig,France
10,11,The Golden Storm,Sci-Fi,8.3,1670,2021,143,Denis Villeneuve,India
11,12,The Lost Dream,Animation,7.9,2444,2007,159,Patty Jenkins,Japan
12,13,The Eternal Empire,Animation,7.7,242,1987,104,Denis Villeneuve,Australia
13,14,The Golden River,Horror,7.3,1967,2013,117,Martin Scorsese,USA
14,15,The Dark Shadow,Thriller,8.7,1443,1987,122,Patty Jenkins,Canada
15,16,The Shattered Horizon,Thriller,9.4,781,2012,98,Steven Spielberg,South Korea
16,17,The Golden Dream,Comedy,7.3,711,2014,152,Christopher Nolan,Italy
17,18,The Furious Code,Action,6.4,1536,1999,115,Christopher Nolan,France
18,19,The Golden River,Drama,8.6,333,2014,101,Denis Villeneuve,Germany
19,20,The Crimson Empire,Thriller,8.9,2534,2007,112,Martin Scorsese,France
20,21,The Hidden Legacy,Romance,7.5,2169,2008,100,Quentin Tarantino,France
21,22,The Dark Storm,Action,8.1,992,2017,113,Christopher Nolan,UK
22,23,The Silent Dream,Drama,9.2,1403,1984,150,Quentin Tarantino,India
23,24,The Shattered Dream,Animation,6.5,2388,2016,145,Quentin Tarantino,Germany
24,25,The Broken Dream,Drama,6.3,1815,2002,139,Patty Jenkins,Germany
25,26,The Silent River,Action,7.4,1439,1986,116,Quentin Tarantino,France
26,27,The Crimson Code,Comedy,7.5,1190,2009,116,Greta Gerwig,Germany
27,28,The Crimson River,Action,8.3,2264,1980,96,Quentin Tarantino,Canada
28,29,The Broken Code,Adventure,6.7,1692,1983,106,Patty Jenkins,USA
29,30,The Broken Sky,Adventure,7.0,2326,2022,176,Jordan Peele,Canada
30,31,The Eternal Sky,Sci-Fi,9.4,2422,2014,92,James Cameron,USA
31,32,The Silent Echo,Adventure,7.8,2225,1990,92,Martin Scorsese,UK
32,33,The Lost River,Mystery,6.2,1013,2005,100,Ridley Scott,France
33,34,The Golden Echo,Action,8.2,1767,2022,159,Ridley Scott,South Korea
34,35,The Furious Sky,Sci-Fi,8.3,1336,1995,118,Patty Jenkins,Canada
35,36,The Hidden Code,Romance,9.3,347,1980,143,Ridley Scott,Italy
36,37,The Dark River,Animation,6.7,1136,1988,129,Greta Gerwig,France
37,38,The Furious Sky,Comedy,7.5,2275,2025,123,Ridley Scott,South Korea
38,39,The Silent Shadow,Thriller,9.3,474,1988,118,Greta Gerwig,UK
39,40,The Crimson Empire,Thriller,7.0,912,2025,128,Quentin Tarantino,India
40,41,The Crimson Code,Thriller,9.2,258,1985,166,Patty Jenkins,India
41,42,The Silent Horizon,Romance,8.7,2659,1996,105,Jordan Peele,South Korea
42,43,The Broken Shadow,Action,6.4,660,2014,89,James Cameron,Italy
43,44,The Crimson Empire,Horror,6.4,1312,2003,90,James Cameron,France
44,45,The Eternal River,Romance,8.7,1714,2019,180,Denis Villeneuve,France
45,46,The Lost Empire,Horror,6.1,1410,2006,170,Quentin Tarantino,India
46,47,The Lost River,Horror,9.1,1977,1994,110,Jordan Peele,Japan
47,48,The Hidden Dream,Sci-Fi,6.1,841,2005,127,Steven Spielberg,UK
48,49,The Hidden Storm,Animation,7.4,2246,2001,88,Greta Gerwig,India
49,50,The Lost Echo,Thriller,6.1,2493,2007,129,James Cameron,Australia

In [4]:
## fetch the first 5 rows
df.head(5)

,Movie_ID,Title,Genre,Rating,Revenue_Million,Year,Runtime_Min,Director,Country
0,1,The Dark Horizon,Thriller,6.9,621,1986,171,Martin Scorsese,UK
1,2,The Golden Legacy,Action,6.1,945,1994,149,Ridley Scott,USA
2,3,The Crimson Dream,Animation,7.5,1889,2017,120,Christopher Nolan,Canada
3,4,The Broken Storm,Thriller,6.5,1428,1986,96,Patty Jenkins,UK
4,5,The Furious Storm,Mystery,9.6,227,2009,153,Greta Gerwig,Australia

In [5]:
df.tail(5)

,Movie_ID,Title,Genre,Rating,Revenue_Million,Year,Runtime_Min,Director,Country
45,46,The Lost Empire,Horror,6.1,1410,2006,170,Quentin Tarantino,India
46,47,The Lost River,Horror,9.1,1977,1994,110,Jordan Peele,Japan
47,48,The Hidden Dream,Sci-Fi,6.1,841,2005,127,Steven Spielberg,UK
48,49,The Hidden Storm,Animation,7.4,2246,2001,88,Greta Gerwig,India
49,50,The Lost Echo,Thriller,6.1,2493,2007,129,James Cameron,Australia

In [6]:
df.describe(include='all') # Describe all columns including non-numeric ones

,Movie_ID,Title,Genre,Rating,Revenue_Million,Year,Runtime_Min,Director,Country
count,50.00000,50,50,50.000000,50.000000,50.000000,50.000000,50,50
unique,NaN,42,10,NaN,NaN,NaN,NaN,10,10
top,NaN,The Crimson Empire,Thriller,NaN,NaN,NaN,NaN,Quentin Tarantino,France
freq,NaN,3,11,NaN,NaN,NaN,NaN,8,10
mean,25.50000,NaN,NaN,7.730000,1505.060000,2002.200000,127.500000,NaN,NaN
std,14.57738,NaN,NaN,1.121451,733.281927,13.114877,26.813224,NaN,NaN
min,1.00000,NaN,NaN,6.100000,227.000000,1980.000000,88.000000,NaN,NaN
25%,13.25000,NaN,NaN,6.700000,956.750000,1988.500000,105.250000,NaN,NaN
50%,25.50000,NaN,NaN,7.500000,1441.000000,2004.000000,121.000000,NaN,NaN
75%,37.75000,NaN,NaN,8.700000,2211.000000,2013.750000,149.750000,NaN,NaN
max,50.00000,NaN,NaN,9.600000,2795.000000,2025.000000,180.000000,NaN,NaN

In [7]:
df.dtypes

Movie_ID             int64
Title               object
Genre               object
Rating             float64
Revenue_Million      int64
Year                 int64
Runtime_Min          int64
Director            object
Country             object
dtype: object

In [8]:
## handling missing values
df.isnull()

,Movie_ID,Title,Genre,Rating,Revenue_Million,Year,Runtime_Min,Director,Country
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False

In [9]:
df.isnull().any() # Check if any column has missing values

Movie_ID           False
Title              False
Genre              False
Rating             False
Revenue_Million    False
Year               False
Runtime_Min        False
Director           False
Country            False
dtype: bool

In [10]:
df.isnull().any(axis=1) # Check if any value in a row is null

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool

In [11]:
df.isnull().sum()

Movie_ID           0
Title              0
Genre              0
Rating             0
Revenue_Million    0
Year               0
Runtime_Min        0
Director           0
Country            0
dtype: int64

In [12]:
df.fillna(0, inplace=True)  # Fill missing values with 0

In [13]:
df

,Movie_ID,Title,Genre,Rating,Revenue_Million,Year,Runtime_Min,Director,Country
0,1,The Dark Horizon,Thriller,6.9,621,1986,171,Martin Scorsese,UK
1,2,The Golden Legacy,Action,6.1,945,1994,149,Ridley Scott,USA
2,3,The Crimson Dream,Animation,7.5,1889,2017,120,Christopher Nolan,Canada
3,4,The Broken Storm,Thriller,6.5,1428,1986,96,Patty Jenkins,UK
4,5,The Furious Storm,Mystery,9.6,227,2009,153,Greta Gerwig,Australia
5,6,The Dark Shadow,Thriller,8.9,2583,2003,158,Quentin Tarantino,UK
6,7,The Silent Dream,Thriller,9.4,1003,1986,133,Steven Spielberg,Germany
7,8,The Furious Empire,Romance,7.2,2795,1997,174,Greta Gerwig,Italy
8,9,The Lost Shadow,Sci-Fi,6.6,1604,1997,166,Martin Scorsese,France
9,10,The Furious Horizon,Sci-Fi,8.9,1342,2005,119,Greta Gerwig,France
10,11,The Golden Storm,Sci-Fi,8.3,1670,2021,143,Denis Villeneuve,India
11,12,The Lost Dream,Animation,7.9,2444,2007,159,Patty Jenkins,Japan
12,13,The Eternal Empire,Animation,7.7,242,1987,104,Denis Villeneuve,Australia
13,14,The Golden River,Horror,7.3,1967,2013,117,Martin Scorsese,USA
14,15,The Dark Shadow,Thriller,8.7,1443,1987,122,Patty Jenkins,Canada
15,16,The Shattered Horizon,Thriller,9.4,781,2012,98,Steven Spielberg,South Korea
16,17,The Golden Dream,Comedy,7.3,711,2014,152,Christopher Nolan,Italy
17,18,The Furious Code,Action,6.4,1536,1999,115,Christopher Nolan,France
18,19,The Golden River,Drama,8.6,333,2014,101,Denis Villeneuve,Germany
19,20,The Crimson Empire,Thriller,8.9,2534,2007,112,Martin Scorsese,France
20,21,The Hidden Legacy,Romance,7.5,2169,2008,100,Quentin Tarantino,France
21,22,The Dark Storm,Action,8.1,992,2017,113,Christopher Nolan,UK
22,23,The Silent Dream,Drama,9.2,1403,1984,150,Quentin Tarantino,India
23,24,The Shattered Dream,Animation,6.5,2388,2016,145,Quentin Tarantino,Germany
24,25,The Broken Dream,Drama,6.3,1815,2002,139,Patty Jenkins,Germany
25,26,The Silent River,Action,7.4,1439,1986,116,Quentin Tarantino,France
26,27,The Crimson Code,Comedy,7.5,1190,2009,116,Greta Gerwig,Germany
27,28,The Crimson River,Action,8.3,2264,1980,96,Quentin Tarantino,Canada
28,29,The Broken Code,Adventure,6.7,1692,1983,106,Patty Jenkins,USA
29,30,The Broken Sky,Adventure,7.0,2326,2022,176,Jordan Peele,Canada
30,31,The Eternal Sky,Sci-Fi,9.4,2422,2014,92,James Cameron,USA
31,32,The Silent Echo,Adventure,7.8,2225,1990,92,Martin Scorsese,UK
32,33,The Lost River,Mystery,6.2,1013,2005,100,Ridley Scott,France
33,34,The Golden Echo,Action,8.2,1767,2022,159,Ridley Scott,South Korea
34,35,The Furious Sky,Sci-Fi,8.3,1336,1995,118,Patty Jenkins,Canada
35,36,The Hidden Code,Romance,9.3,347,1980,143,Ridley Scott,Italy
36,37,The Dark River,Animation,6.7,1136,1988,129,Greta Gerwig,France
37,38,The Furious Sky,Comedy,7.5,2275,2025,123,Ridley Scott,South Korea
38,39,The Silent Shadow,Thriller,9.3,474,1988,118,Greta Gerwig,UK
39,40,The Crimson Empire,Thriller,7.0,912,2025,128,Quentin Tarantino,India
40,41,The Crimson Code,Thriller,9.2,258,1985,166,Patty Jenkins,India
41,42,The Silent Horizon,Romance,8.7,2659,1996,105,Jordan Peele,South Korea
42,43,The Broken Shadow,Action,6.4,660,2014,89,James Cameron,Italy
43,44,The Crimson Empire,Horror,6.4,1312,2003,90,James Cameron,France
44,45,The Eternal River,Romance,8.7,1714,2019,180,Denis Villeneuve,France
45,46,The Lost Empire,Horror,6.1,1410,2006,170,Quentin Tarantino,India
46,47,The Lost River,Horror,9.1,1977,1994,110,Jordan Peele,Japan
47,48,The Hidden Dream,Sci-Fi,6.1,841,2005,127,Steven Spielberg,UK
48,49,The Hidden Storm,Animation,7.4,2246,2001,88,Greta Gerwig,India
49,50,The Lost Echo,Thriller,6.1,2493,2007,129,James Cameron,Australia

In [14]:
df.isnull().sum()

Movie_ID           0
Title              0
Genre              0
Rating             0
Revenue_Million    0
Year               0
Runtime_Min        0
Director           0
Country            0
dtype: int64

In [15]:
df.isnull()

,Movie_ID,Title,Genre,Rating,Revenue_Million,Year,Runtime_Min,Director,Country
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False

In [16]:
df.isnull().any()

Movie_ID           False
Title              False
Genre              False
Rating             False
Revenue_Million    False
Year               False
Runtime_Min        False
Director           False
Country            False
dtype: bool

In [17]:
df

,Movie_ID,Title,Genre,Rating,Revenue_Million,Year,Runtime_Min,Director,Country
0,1,The Dark Horizon,Thriller,6.9,621,1986,171,Martin Scorsese,UK
1,2,The Golden Legacy,Action,6.1,945,1994,149,Ridley Scott,USA
2,3,The Crimson Dream,Animation,7.5,1889,2017,120,Christopher Nolan,Canada
3,4,The Broken Storm,Thriller,6.5,1428,1986,96,Patty Jenkins,UK
4,5,The Furious Storm,Mystery,9.6,227,2009,153,Greta Gerwig,Australia
5,6,The Dark Shadow,Thriller,8.9,2583,2003,158,Quentin Tarantino,UK
6,7,The Silent Dream,Thriller,9.4,1003,1986,133,Steven Spielberg,Germany
7,8,The Furious Empire,Romance,7.2,2795,1997,174,Greta Gerwig,Italy
8,9,The Lost Shadow,Sci-Fi,6.6,1604,1997,166,Martin Scorsese,France
9,10,The Furious Horizon,Sci-Fi,8.9,1342,2005,119,Greta Gerwig,France
10,11,The Golden Storm,Sci-Fi,8.3,1670,2021,143,Denis Villeneuve,India
11,12,The Lost Dream,Animation,7.9,2444,2007,159,Patty Jenkins,Japan
12,13,The Eternal Empire,Animation,7.7,242,1987,104,Denis Villeneuve,Australia
13,14,The Golden River,Horror,7.3,1967,2013,117,Martin Scorsese,USA
14,15,The Dark Shadow,Thriller,8.7,1443,1987,122,Patty Jenkins,Canada
15,16,The Shattered Horizon,Thriller,9.4,781,2012,98,Steven Spielberg,South Korea
16,17,The Golden Dream,Comedy,7.3,711,2014,152,Christopher Nolan,Italy
17,18,The Furious Code,Action,6.4,1536,1999,115,Christopher Nolan,France
18,19,The Golden River,Drama,8.6,333,2014,101,Denis Villeneuve,Germany
19,20,The Crimson Empire,Thriller,8.9,2534,2007,112,Martin Scorsese,France
20,21,The Hidden Legacy,Romance,7.5,2169,2008,100,Quentin Tarantino,France
21,22,The Dark Storm,Action,8.1,992,2017,113,Christopher Nolan,UK
22,23,The Silent Dream,Drama,9.2,1403,1984,150,Quentin Tarantino,India
23,24,The Shattered Dream,Animation,6.5,2388,2016,145,Quentin Tarantino,Germany
24,25,The Broken Dream,Drama,6.3,1815,2002,139,Patty Jenkins,Germany
25,26,The Silent River,Action,7.4,1439,1986,116,Quentin Tarantino,France
26,27,The Crimson Code,Comedy,7.5,1190,2009,116,Greta Gerwig,Germany
27,28,The Crimson River,Action,8.3,2264,1980,96,Quentin Tarantino,Canada
28,29,The Broken Code,Adventure,6.7,1692,1983,106,Patty Jenkins,USA
29,30,The Broken Sky,Adventure,7.0,2326,2022,176,Jordan Peele,Canada
30,31,The Eternal Sky,Sci-Fi,9.4,2422,2014,92,James Cameron,USA
31,32,The Silent Echo,Adventure,7.8,2225,1990,92,Martin Scorsese,UK
32,33,The Lost River,Mystery,6.2,1013,2005,100,Ridley Scott,France
33,34,The Golden Echo,Action,8.2,1767,2022,159,Ridley Scott,South Korea
34,35,The Furious Sky,Sci-Fi,8.3,1336,1995,118,Patty Jenkins,Canada
35,36,The Hidden Code,Romance,9.3,347,1980,143,Ridley Scott,Italy
36,37,The Dark River,Animation,6.7,1136,1988,129,Greta Gerwig,France
37,38,The Furious Sky,Comedy,7.5,2275,2025,123,Ridley Scott,South Korea
38,39,The Silent Shadow,Thriller,9.3,474,1988,118,Greta Gerwig,UK
39,40,The Crimson Empire,Thriller,7.0,912,2025,128,Quentin Tarantino,India
40,41,The Crimson Code,Thriller,9.2,258,1985,166,Patty Jenkins,India
41,42,The Silent Horizon,Romance,8.7,2659,1996,105,Jordan Peele,South Korea
42,43,The Broken Shadow,Action,6.4,660,2014,89,James Cameron,Italy
43,44,The Crimson Empire,Horror,6.4,1312,2003,90,James Cameron,France
44,45,The Eternal River,Romance,8.7,1714,2019,180,Denis Villeneuve,France
45,46,The Lost Empire,Horror,6.1,1410,2006,170,Quentin Tarantino,India
46,47,The Lost River,Horror,9.1,1977,1994,110,Jordan Peele,Japan
47,48,The Hidden Dream,Sci-Fi,6.1,841,2005,127,Steven Spielberg,UK
48,49,The Hidden Storm,Animation,7.4,2246,2001,88,Greta Gerwig,India
49,50,The Lost Echo,Thriller,6.1,2493,2007,129,James Cameron,Australia

In [18]:
## Filling missing values with mean of the column
df['Revenue_Million'].fillna(df['Revenue_Million'].mean())

0      621
1      945
2     1889
3     1428
4      227
5     2583
6     1003
7     2795
8     1604
9     1342
10    1670
11    2444
12     242
13    1967
14    1443
15     781
16     711
17    1536
18     333
19    2534
20    2169
21     992
22    1403
23    2388
24    1815
25    1439
26    1190
27    2264
28    1692
29    2326
30    2422
31    2225
32    1013
33    1767
34    1336
35     347
36    1136
37    2275
38     474
39     912
40     258
41    2659
42     660
43    1312
44    1714
45    1410
46    1977
47     841
48    2246
49    2493
Name: Revenue_Million, dtype: int64

In [19]:
df.dtypes

Movie_ID             int64
Title               object
Genre               object
Rating             float64
Revenue_Million      int64
Year                 int64
Runtime_Min          int64
Director            object
Country             object
dtype: object

In [20]:
## Renaming columns
df.rename(columns={'Revenue_Million': 'Revenue in Million'}, inplace=True)
df.head()

,Movie_ID,Title,Genre,Rating,Revenue in Million,Year,Runtime_Min,Director,Country
0,1,The Dark Horizon,Thriller,6.9,621,1986,171,Martin Scorsese,UK
1,2,The Golden Legacy,Action,6.1,945,1994,149,Ridley Scott,USA
2,3,The Crimson Dream,Animation,7.5,1889,2017,120,Christopher Nolan,Canada
3,4,The Broken Storm,Thriller,6.5,1428,1986,96,Patty Jenkins,UK
4,5,The Furious Storm,Mystery,9.6,227,2009,153,Greta Gerwig,Australia

In [21]:
## Changing data types
df['New Rating'] = df['Rating'].astype('int')
df.head()

,Movie_ID,Title,Genre,Rating,Revenue in Million,Year,Runtime_Min,Director,Country,New Rating
0,1,The Dark Horizon,Thriller,6.9,621,1986,171,Martin Scorsese,UK,6
1,2,The Golden Legacy,Action,6.1,945,1994,149,Ridley Scott,USA,6
2,3,The Crimson Dream,Animation,7.5,1889,2017,120,Christopher Nolan,Canada,7
3,4,The Broken Storm,Thriller,6.5,1428,1986,96,Patty Jenkins,UK,6
4,5,The Furious Storm,Mystery,9.6,227,2009,153,Greta Gerwig,Australia,9

In [22]:
df['New Revenue Million'] = df['Revenue in Million'].apply(lambda x: x + 10)
df.head()

,Movie_ID,Title,Genre,Rating,Revenue in Million,Year,Runtime_Min,Director,Country,New Rating,New Revenue Million
0,1,The Dark Horizon,Thriller,6.9,621,1986,171,Martin Scorsese,UK,6,631
1,2,The Golden Legacy,Action,6.1,945,1994,149,Ridley Scott,USA,6,955
2,3,The Crimson Dream,Animation,7.5,1889,2017,120,Christopher Nolan,Canada,7,1899
3,4,The Broken Storm,Thriller,6.5,1428,1986,96,Patty Jenkins,UK,6,1438
4,5,The Furious Storm,Mystery,9.6,227,2009,153,Greta Gerwig,Australia,9,237

In [23]:
## Data Aggregation and Grouping
df.head()

,Movie_ID,Title,Genre,Rating,Revenue in Million,Year,Runtime_Min,Director,Country,New Rating,New Revenue Million
0,1,The Dark Horizon,Thriller,6.9,621,1986,171,Martin Scorsese,UK,6,631
1,2,The Golden Legacy,Action,6.1,945,1994,149,Ridley Scott,USA,6,955
2,3,The Crimson Dream,Animation,7.5,1889,2017,120,Christopher Nolan,Canada,7,1899
3,4,The Broken Storm,Thriller,6.5,1428,1986,96,Patty Jenkins,UK,6,1438
4,5,The Furious Storm,Mystery,9.6,227,2009,153,Greta Gerwig,Australia,9,237

In [24]:
grouped_mean = df.groupby('Genre')['Revenue in Million'].mean()
print(grouped_mean)

Genre
Action       1371.857143
Adventure    2081.000000
Animation    1724.166667
Comedy       1392.000000
Drama        1183.666667
Horror       1666.500000
Mystery       620.000000
Romance      1936.800000
Sci-Fi       1535.833333
Thriller     1320.909091
Name: Revenue in Million, dtype: float64

In [25]:
df.head()

,Movie_ID,Title,Genre,Rating,Revenue in Million,Year,Runtime_Min,Director,Country,New Rating,New Revenue Million
0,1,The Dark Horizon,Thriller,6.9,621,1986,171,Martin Scorsese,UK,6,631
1,2,The Golden Legacy,Action,6.1,945,1994,149,Ridley Scott,USA,6,955
2,3,The Crimson Dream,Animation,7.5,1889,2017,120,Christopher Nolan,Canada,7,1899
3,4,The Broken Storm,Thriller,6.5,1428,1986,96,Patty Jenkins,UK,6,1438
4,5,The Furious Storm,Mystery,9.6,227,2009,153,Greta Gerwig,Australia,9,237

In [26]:
group_sum = df.groupby(['Genre', 'Rating'])['Revenue in Million'].sum()
print(group_sum)

Genre      Rating
Action     6.1        945
           6.4       2196
           7.4       1439
           8.1        992
           8.2       1767
           8.3       2264
Adventure  6.7       1692
           7.0       2326
           7.8       2225
Animation  6.5       2388
           6.7       1136
           7.4       2246
           7.5       1889
           7.7        242
           7.9       2444
Comedy     7.3        711
           7.5       3465
Drama      6.3       1815
           8.6        333
           9.2       1403
Horror     6.1       1410
           6.4       1312
           7.3       1967
           9.1       1977
Mystery    6.2       1013
           9.6        227
Romance    7.2       2795
           7.5       2169
           8.7       4373
           9.3        347
Sci-Fi     6.1        841
           6.6       1604
           8.3       3006
           8.9       1342
           9.4       2422
Thriller   6.1       2493
           6.5       1428
           6.9        621
           7.0        912
           8.7       1443
           8.9       5117
           9.2        258
           9.3        474
           9.4       1784
Name: Revenue in Million, dtype: int64

In [27]:
group_mean = df.groupby(['Genre', 'Rating'])['Revenue in Million'].mean()
print(group_mean)

Genre      Rating
Action     6.1        945.0
           6.4       1098.0
           7.4       1439.0
           8.1        992.0
           8.2       1767.0
           8.3       2264.0
Adventure  6.7       1692.0
           7.0       2326.0
           7.8       2225.0
Animation  6.5       2388.0
           6.7       1136.0
           7.4       2246.0
           7.5       1889.0
           7.7        242.0
           7.9       2444.0
Comedy     7.3        711.0
           7.5       1732.5
Drama      6.3       1815.0
           8.6        333.0
           9.2       1403.0
Horror     6.1       1410.0
           6.4       1312.0
           7.3       1967.0
           9.1       1977.0
Mystery    6.2       1013.0
           9.6        227.0
Romance    7.2       2795.0
           7.5       2169.0
           8.7       2186.5
           9.3        347.0
Sci-Fi     6.1        841.0
           6.6       1604.0
           8.3       1503.0
           8.9       1342.0
           9.4       2422.0
Thriller   6.1       2493.0
           6.5       1428.0
           6.9        621.0
           7.0        912.0
           8.7       1443.0
           8.9       2558.5
           9.2        258.0
           9.3        474.0
           9.4        892.0
Name: Revenue in Million, dtype: float64

In [28]:
## Aggregate multiple functions
agg_functions = {
    'Revenue in Million': ['mean', 'sum', 'max', 'min'],
    'Rating': ['mean', 'max']
}

grouped_agg = df.groupby('Genre').agg(agg_functions)
print(grouped_agg)

          Revenue in Million                       Rating
                        mean    sum   max   min      mean  max
Genre
Action           1371.857143   9603  2264   660  7.271429  8.3
Adventure        2081.000000   6243  2326  1692  7.166667  7.8
Animation        1724.166667  10345  2444   242  7.283333  7.9
Comedy           1392.000000   4176  2275   711  7.433333  7.5
Drama            1183.666667   3551  1815   333  8.033333  9.2
Horror           1666.500000   6666  1977  1312  7.225000  9.1
Mystery           620.000000   1240  1013   227  7.900000  9.6
Romance          1936.800000   9684  2795   347  8.280000  9.3
Sci-Fi           1535.833333   9215  2422   841  7.933333  9.4
Thriller         1320.909091  14530  2583   258  8.209091  9.4

In [29]:
## Merging and Joining DataFrames

#Create a smaple dataframe
df1 = pd.DataFrame({
    'Key': ['A', 'B', 'C', 'D'],
    'Value1': [1, 2, 3, 4]
})
df2 = pd.DataFrame({
    'Key': ['A', 'B', 'C', 'D'],
    'Value2': [5, 6, 7, 8]
})

In [30]:
df1

  Key  Value1
0   A       1
1   B       2
2   C       3
3   D       4

In [31]:
df2

  Key  Value2
0   A       5
1   B       6
2   C       7
3   D       8

In [35]:
## Merge DataFrames on 'Key' column
pd.merge(df1, df2, on='Key', how='inner')

  Key  Value1  Value2
0   A       1       5
1   B       2       6
2   C       3       7
3   D       4       8

In [36]:
pd.merge(df1, df2, on='Key', how='outer')

  Key  Value1  Value2
0   A       1       5
1   B       2       6
2   C       3       7
3   D       4       8

In [39]:
pd.merge(df1, df2, on='Key', how='left')

  Key  Value1  Value2
0   A       1       5
1   B       2       6
2   C       3       7
3   D       4       8

In [40]:
pd.merge(df1, df2, on='Key', how='right')

  Key  Value1  Value2
0   A       1       5
1   B       2       6
2   C       3       7
3   D       4       8